<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.1671-prerelease" targetFramework="net481" />
  <package id="Octokit" version="5.0.0" targetFramework="net481" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net481" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net481" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net481" />
  <package id="WPF-UI" version="2.0.3" targetFramework="net481" />
</packages>